html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

body {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
}

header {
  background-image: linear-gradient(#052f5f, #005377);
  color: white;
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
  font-weight: bolder;
}

header > span {
  position: relative;
  display: inline-block;
}

@keyframes oscillate {
  from {
    transform: translateX(-50%) scale(0);
    opacity: 0.3;
  }
  to {
    transform: translateX(-50%) scale(1);
    opacity: 0.8;
  }
}

.explosion {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: oscillate 1.75s infinite alternate;
  z-index: 1;
}

.form-container {
  padding: 15px;
  background-image: linear-gradient(#0053773b, #f1a308b0);
}

.instructions {
  font-size: 1rem;
  padding: 4px;
  font-weight: bolder;
}

.form-header {
  font-size: 2rem;
  padding: 8px;
  font-weight: bolder;
  text-align: center;
  color: #740800;
  text-decoration: underline;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

form > div {
  flex: 0 1 440px;
  display: grid;
  padding: 4px;
  gap: 10px;
  grid-template-rows: 1fr 1fr 20px;
  place-items: center;
  padding-right: 10px;
  border-right: 1px grey dotted;
  border-bottom: 1px grey dotted;
}

.carrier-container {
  color: rgba(0, 0, 0, 0.747);
}

.battleship-container {
  color: rgba(0, 87, 4, 0.747);
}

.cruiser-container {
  color: rgba(199, 0, 0, 0.747);
}

.submarine-container {
  color: rgba(17, 0, 173, 0.747);
}

.destroyer-container {
  color: rgba(126, 0, 119, 0.747);
}

form > div > div {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
  padding-right: 10px;
  grid-area: 1 / 1 / 2 / 2;
}

select {
  width: min-content;
  justify-self: end;
  font-size: 1rem;
  padding: 4px;
  border-radius: 4px;
  grid-area: 1 / 2 / 2 / 4;
}

label {
  font-size: 1rem;
  justify-self: end;
  grid-area: 2 / 2 / 3 / 3;
}

input[type="text"] {
  padding: 4px;
  width: 40px;
  font-size: 1rem;
  justify-self: end;
  border-radius: 4px;
  grid-area: 2 / 3 / 3 / 4;
}

.error {
  font-size: 16px;
  color: red;
  grid-area: 3 / 1 / 4 / 4;
}

.buttons {
  width: 400px;
  height: min-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: none;
}

#play-game-btn,
#reset-game-btn {
  padding: 10px 20px;
  font-weight: bolder;
  font-size: 2rem;
  border: 1px black solid;
  border-radius: 15px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
}

#play-game-btn {
  background-color: #052f5f;
  color: white;
}

#play-game-btn:hover {
  background-color: #005377;
}

#reset-game-btn {
  background-color: #f44336;
  color: white;
}

#reset-game-btn:hover {
  background-color: #da190b;
}

#play-game-btn:active,
#reset-game-btn:active {
  transform: scale(0.95);
}

.gameboards {
  margin-top: 25px;
  width: 100%;
  height: min-content;
  display: flex;
  column-gap: 10vw;
  row-gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.gameboard {
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(11, 32px);
  grid-template-rows: repeat(11, 32px);
  justify-content: center;
  margin-bottom: 24px;
}

.column-number,
.row-letter {
  text-align: center;
  font-size: 20px;
  align-self: center;
}

.gametile {
  width: 32px;
  height: 32px;
  border: 1px solid black;
  position: relative;
  box-sizing: border-box;
  background-color: #06a77d;
}

@media only screen and (min-width: 768px) {
  .gameboard {
    grid-template-columns: repeat(11, 56px);
    grid-template-rows: repeat(11, 56px);
  }

  .column-number,
  .row-letter {
    font-size: 30px;
  }

  .gametile {
    width: 56px;
    height: 56px;
  }
}

.carrier,
.battleship,
.cruiser,
.submarine,
.destroyer {
  border: 1px solid grey;
}

.carrier {
  background-color: rgba(0, 0, 0, 0.747);
}

.battleship {
  background-color: rgba(0, 87, 4, 0.747);
}

.cruiser {
  background-color: rgba(199, 0, 0, 0.747);
}

.submarine {
  background-color: rgba(17, 0, 173, 0.747);
}

.destroyer {
  background-color: rgba(126, 0, 119, 0.747);
}

.hit::after {
  position: absolute;
  content: "🎯";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  pointer-events: none;
}

.miss::after {
  position: absolute;
  content: "⭕";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  pointer-events: none;
}

.miss,
.hit {
  cursor: auto;
}

footer {
  text-align: center;
  margin-top: auto;
  padding: 2rem;
  font-size: 3rem;
  color: white;
  background-color: rgb(0, 0, 0);
}
