html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: bisque;
}

.gameboards {
  margin-top: 25px;
  width: 100%;
  height: min-content;
  display: flex;
  column-gap: 10vw;
  row-gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.gameboard {
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(10, minmax(30px, 1fr));
  grid-template-rows: repeat(10, minmax(30px, 1fr));
  justify-content: center;
}

.gametile {
  min-width: 30px;
  min-height: 30px;
  border: 1px solid black;
}

.carrier {
  background-color: rgba(0, 0, 0, 0.747);
}

.battleship {
  background-color: rgba(0, 235, 12, 0.747);
}

.cruiser {
  background-color: rgba(199, 0, 0, 0.747);
}

.submarine {
  background-color: rgba(17, 0, 173, 0.747);
}

.destroyer {
  background-color: rgba(206, 168, 0, 0.747);
}

.hit {
  position: relative;
}

.hit::after {
  content: "X";
}

.miss {
  position: relative;
}

.miss::after {
  content: "O";
}
